spring:
  application:
    name: Archiving
  profiles:
    active: local

  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 5000
            read-timeout: 10000
            logger-level: BASIC

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

environment: local

springdoc:
  swagger-ui:
    path: /book-archiving/swagger.html

